@{
    var usuario = ViewData["UsuarioLogueado"] as Telefonica.SugeridorDePlanes.Models.Users.User;
    var emptyPlans = true;

    if (Model != null && Model.Count() > 0)
    {
        emptyPlans = false;

    }

    Layout = "~/Views/Shared/_Layout.cshtml";
}


@functions {

    public static string FormatCultureNumber(decimal? value)
    {
        return @Telefonica.SugeridorDePlanes.Resources.helpers.TelefonicaHelper.FormatCultureNumber(value);
    }
}


@model List<Telefonica.SugeridorDePlanes.Propuesta>;

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Home/HomeStyles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/UserProposal/UserProposalStyles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>

    <script>
        function openProposal(val)
        {
            window.location.href = "@Url.Action("OpenProposal", "UserProposal")" + '?proposaId=' + val;
        }


    </script>

</head>
<body>


    <nav class="d-none d-md-flex navbar-light bg-light justify-content-between pt-2 pb-2 mr-3 ml-3">
        <div class="viewTitle">
            <h2>Lista de propuestas</h2>
        </div>
        <form class="form-inline input-group mb-0 w-auto">
            <div class="input-group-prepend">
                <label class="input-group-text">Nombre Usuario</label>
            </div>
            <div class="input-group-prepend">
                <label class="input-group-text">Cerrar sesion</label>
            </div>
        </form>

    </nav>


    <div class="container-fluid pl-md-5 pr-md-5 pt-md-3">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <fieldset class="tableFieldset">
                    <legend>Mis propuestas</legend>
                    <div class="tableFixHead">
                        <table class="table table-bordered table-striped mb-0" style="border: 1px solid #ddd !important;">
                            <thead class="thead-dark">
                                <tr style="text-align:center">
                                    <th>Cliente</th>
                                    <th>Cant. Lineas</th>
                                    <th>Cant. Equipos</th>
                                    <th>Subsidio</th>
                                    <th>Payback</th>
                                    <th>PagoEquipos</th>
                                    <th>Estado</th>
                                    <th>Fecha</th>
                                    <th>Abrir</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    DateTime proposalDate = DateTime.Today;
                                    @foreach (var propuesta in Model)
                                    {
                                <tr>
                                    <td>@propuesta.ClientName</td>
                                    <td>@propuesta.Lineas.Count</td>
                                    <td>@propuesta.Equipos.Count</td>
                                    <td>$ @propuesta.Subsidio</td>
                                    <td>@propuesta.Payback</td>
                                    <td>$ @propuesta.DevicePayment</td>
                                    <td>@propuesta.Estado</td>
                                    <td>@proposalDate.ToShortDateString()</td>
                                    <td class="editRow " onclick="openProposal(@propuesta.Id)"><a class="btn btn-outline-success my-2 my-sm-0">Abrir</a></td>
                                </tr>
                                    }
                                }

                            </tbody>
                        </table>

                    </div>
                 
                </fieldset>
            </div>
            </div>
        </div>


</body>
</html>
