@using Telefonica.SugeridorDePlanes.Models.Users;
@using Telefonica.SugeridorDePlanes.Models.Users.UsersRole;

@{
    var loggedUser = ViewData["loggedUser"] as User;
    var userRole = ViewData["userRole"];
    var emptyPlans = true;

    if (Model != null && Model.Count() > 0)
    {
        emptyPlans = false;

    }
    var clientList = ViewData["clientList"] as List<Telefonica.SugeridorDePlanes.Models.ApiModels.SuggestorClientModel>;
    SelectList clientSelect = null;
    if (clientList != null && clientList.Count > 0)
    {
        clientSelect = new SelectList(clientList, "Documento", "Titular");
    }

    var userList = ViewData["userList"] as List<Telefonica.SugeridorDePlanes.User>;
    SelectList userSelect = null;
    if (userList != null && userList.Count > 0)
    {
        userSelect = new SelectList(userList, "Id", "NombreCompleto");
    }

    Layout = "~/Views/Shared/_Layout.cshtml";

    var adminRole = Enum.GetName(typeof(@Telefonica.SugeridorDePlanes.Dto.Dto.UserRole),@Telefonica.SugeridorDePlanes.Dto.Dto.UserRole.Administrator);
    var executiveRol = Enum.GetName(typeof(@Telefonica.SugeridorDePlanes.Dto.Dto.UserRole),@Telefonica.SugeridorDePlanes.Dto.Dto.UserRole.Executive);
}


@functions {

    public static string FormatCultureNumber(decimal? value)
    {
        return @Telefonica.SugeridorDePlanes.Resources.helpers.TelefonicaHelper.FormatCultureNumber(value);
    }
}


@model List<Telefonica.SugeridorDePlanes.Proposal>;

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Home/HomeStyles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/GeneralStyles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/UserProposal/UserProposalStyles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/MenuStyles.css" />

    <script>
        var openProposalUrl = "@Url.Action("OpenProposal", "UserProposal")";
        var deleteProposalUrl = "@Url.Action("DeleteProposal", "UserProposal")";
    </script>
</head>
<body>

    @*MOBILE MENU*@
    <!--Navbar-->
    <nav class="navbar navbar-default light-blue lighten-4 d-lg-none pl-0" id="navBar-mobile">
        <div class="container pr-0 pl-0">
            <div class="col-5">
                <img src="~/img/movistarMenu.png" alt="Logo Movistar" class="img-fluid">
            </div>
            <!-- Collapse button -->
            <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="mobile-nav-text">
                    <img src="~/img/menu.png" alt="menu icon" style="width:30px">
                </span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent1">

                <!-- Links -->
                <ul class="navbar-nav mr-auto text-center">
                    <li>
                        <a href="@Url.Action("Index", "Suggestor")">
                            <span class="nav-text">
                                Sugeridor
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a href="@Url.Action("Index", "UserProposal")">
                            <span class="nav-text">
                                Lista de propuestas
                            </span>
                        </a>

                    </li>
                    @*@if (userRole.Equals(adminRole))
                    {
                        <li class="has-subnav">
                            <a href="#">
                                <span class="nav-text">
                                    Crear usuario
                                </span>
                            </a>

                        </li>
                    }*@
                    <li>
                        <a href="@Url.Action("Logout", "Login")">
                            <span class="nav-text">
                                Cerrar sesion
                            </span>
                        </a>
                    </li>
                </ul>
                <!-- Links -->

            </div>
            <!-- Collapsible content -->
        </div>
    </nav>

    <nav class="navbar-light bg-light justify-content-between pt-2 pb-2 titleMargin" id="navMobile-Margin">
        <div class="viewTitle" style="margin-left:20px">
            <h2>Lista de Propuestas</h2>
        </div>
        <div class="d-flex justify-content-between">
            @if (userRole.Equals(adminRole))
            {
                <form class="form-inline input-group mb-0 w-auto" action="/UserProposal/FilterProposalsByUser" method="post" style="margin-left:20px">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Nombre usuario</label>
                    </div>
                    @if (userSelect != null)
                    {
                        @Html.DropDownList("userId", userSelect, new { onChange = "this.form.submit()", @class = "custom-select", id = "userSelect" })
                    }

                </form>
                <form class="form-inline mb-0" action="/UserProposal/FilterProposalsByUserName" method="post">
                    <div class="d-inline-flex align-items-center w-100">
                        <input class="form-control mr-2" type="text" name="rut" id="clientRutTxt1" placeholder="Buscar por usuario" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" id="clientRutBtn" type="submit">Buscar</button>
                    </div>
                </form>
            }
            else
            {
                <form class="form-inline input-group mb-0 w-auto" action="/UserProposal/FilterProposalsByClient" method="post" style="margin-left:20px">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Razon Social</label>
                    </div>
                    @if (clientSelect != null)
                    {
                        @Html.DropDownList("document", clientSelect, new { onChange = "this.form.submit()", @class = "custom-select", id = "clientSelect" })
                    }

                </form>
                <form class="form-inline mb-0" action="/UserProposal/FilterProposalsByClient" method="post">
                    <div class="d-inline-flex align-items-center w-100">
                        <input class="form-control mr-2" type="text" name="rut" id="clientRutTxt1" placeholder="Buscar por cliente" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" id="clientRutBtn" type="submit">Buscar</button>
                    </div>
                </form>
            }
        </div>
        

    </nav>
    <nav class="main-menu d-none d-lg-block" id="sideNav">
        <ul>
            <li>
                <a href="@Url.Action("Index", "Suggestor")">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Sugeridor
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="@Url.Action("Index", "UserProposal")">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Lista de propuestas
                    </span>
                </a>

            </li>
            @*@if (userRole.Equals(adminRole))
            {
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Crear usuario
                        </span>
                    </a>

                </li>
            }*@

        </ul>

        <ul class="logout">
            <li>
                <p href="#">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                        @loggedUser.NombreCompleto
                    </span>
                </p>
            </li>
            <li>
                <a href="@Url.Action("Logout", "Login")">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Cerrar sesion
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="area">
        <div class="pl-md-5 pr-md-5 pt-md-3 areaMargin">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <fieldset class="tableFieldset">
                        <legend>Mis propuestas</legend>
                        <div class="tableFixHead">
                            <table class="table table-bordered table-striped mb-0 tablesorter" id="tableProposalList" style="border: 1px solid #ddd !important;">
                                @if (userRole.Equals(adminRole))
                                {
                                    <thead class="thead-dark">
                                        <tr style="text-align:center">
                                            <th>Usuario</th>
                                            <th>Cliente</th>
                                            <th>Cant. Lineas</th>
                                            <th>Cant. Equipos</th>
                                            <th>Subsidio</th>
                                            <th>Payback</th>
                                            <th>PagoEquipos</th>
                                            <th>Estado</th>
                                            <th>Fecha</th>
                                            <th>Abrir</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            @foreach (var Proposal in Model)
                                            {
                                                <tr>
                                                    <td>@Proposal.NombreUsuario</td>
                                                    <td>@Proposal.ClientName</td>
                                                    <td>@Proposal.Lineas.Count</td>
                                                    <td>@Proposal.Equipos.Count</td>
                                                    <td data-toggle="tooltip" data-placement="top" title="$ @FormatCultureNumber((decimal)Proposal.Subsidio)">$ @Proposal.Subsidio</td>
                                                    <td>@Proposal.Payback</td>
                                                    <td>$ @Proposal.DevicePayment</td>
                                                    <td> @Proposal.CreatedDate</td>
                                                    <td>@Proposal.Estado</td>
                                                    <td class="editRow " onclick="openProposal(@Proposal.Id)"><a class="btn btn-outline-success my-2 my-sm-0">Abrir</a></td>
                                                    <td style="text-align:center;cursor:pointer" data-toggle="modal" href="#deleteProposalModal" onclick="setProposalId(@Proposal.Id)"><i class="fa fa-trash" aria-hidden="true"></i></td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                }
                                else
                                {
                                    <thead class="thead-dark">
                                        <tr style="text-align:center">
                                            <th>Cliente</th>
                                            <th>Cant. Lineas</th>
                                            <th>Cant. Equipos</th>
                                            <th>Subsidio</th>
                                            <th>Payback</th>
                                            <th>PagoEquipos</th>
                                            <th>Estado</th>
                                            <th>Fecha</th>
                                            <th>Abrir</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            @foreach (var Proposal in Model)
                                            {
                                                <tr>
                                                    <td>@Proposal.ClientName</td>
                                                    <td>@Proposal.Lineas.Count</td>
                                                    <td>@Proposal.Equipos.Count</td>
                                                    <td data-toggle="tooltip" data-placement="top" title="$ @FormatCultureNumber((decimal)Proposal.Subsidio)">$ @Proposal.Subsidio</td>
                                                    <td>@Proposal.Payback</td>
                                                    <td>$ @Proposal.DevicePayment</td>
                                                    <td> @Proposal.CreatedDate</td>
                                                    <td>@Proposal.Estado</td>
                                                    <td class="editRow " onclick="openProposal(@Proposal.Id)"><a class="btn btn-outline-success my-2 my-sm-0">Abrir</a></td>
                                                    <td style="text-align:center;cursor:pointer" data-toggle="modal" href="#deleteProposalModal" onclick="setProposalId(@Proposal.Id)"><i class="fa fa-trash" aria-hidden="true"></i></td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                }


                            </table>

                        </div>

                    </fieldset>
                </div>
            </div>
        </div>

    </div>


    <div class="modal fade" id="deleteProposalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info modal-dialog-centered" role="document">

            <div class="modal-content text-center">

                <div class="modal-header d-flex justify-content-center" style="background-color:#FFEF00">
                    <h2 style="color:white;text-shadow: 2px 2px #FBCE00">Elimnar Propuesta</h2>

                </div>
                <div class="modal-body">

                    <i class="fa fa-exclamation-circle fa-5x" aria-hidden="true" style="color:#FFEF00"></i>

                    <h4 id="saveProposaltext">Seguro desea eliminar la propuesta?</h4>

                </div>

                <div class="modal-footer flex-center">
                    <button type="button" class="btn btn-outline-success" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-outline-success" data-dismiss="modal" onclick="deleteProposal()">aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/UserProposal/ProposalScript.js"></script>
</body>
</html>
